 

<div class="container-fluid row p-0 w-100 justify-content-center" style="margin:100px 0 0 0">
    <div class="col-6 py-3 mx-4">
        <div class="d-flex flex-column ">
            <div class="slider-for d-flex flex-row justify-content-center">
                <div>
                    <img src="~/Content/img/avatar.jpg" style="width:100%" />
                </div>
                <div>
                    <img src="~/Content/img/avatar.jpg" style="width:100%" />
                </div>
                <div>
                    <img src="~/Content/img/avatar.jpg" style="width:100%" />
                </div>
                <div>
                    <img src="~/Content/img/avatar.jpg" style="width:100%" />
                </div>
            </div>
            <div class="slider-nav d-flex flex-row justify-content-evenly">
                <div>
                    <img src="~/Content/img/avatar.jpg" style="width:200px" />
                </div>
                <div>
                    <img src="~/Content/img/avatar.jpg" style="width:200px" />
                </div>
                <div>
                    <img src="~/Content/img/avatar.jpg" style="width:200px" />
                </div>
                <div>
                    <img src="~/Content/img/avatar.jpg" style="width:200px" />
                </div>
            </div>
        </div>
    </div>
    <div class="col-4 py-3 mx-4"></div>
</div>

